{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{{ base_path }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 

<style type="text/css"> 
	html{ margin: 0; height: 100%; overflow: hidden; } 
	iframe{ position: absolute; left:0; right:0; bottom:0; top:0; border:0; } 
	.iparent { background:url(/images/loading.gif) center center no-repeat; width: 100%; height: 100%; z-index: 1000; display:block; position: absolute; }
</style> 

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">