---
layout: archive
title: "Improve your Eye Wellbeing"
excerpt: "Learn how to maintain a healthy sight, as well as to prevent and improve your vision holistically."
title_included: true
author_profile: true
sitemap: true
read_time: false
comments: false
share: false
related: false

header:
  overlay_color: "#8492cd"
  overlay_image: home-page-feature.jpg
  image: title_image.jpg

vimeoId: 227720622

---

{% include base_path %}


{% include vimeoPlayer.html id=page.vimeoId %}

<div class="grid__wrapper" style="padding-top: 2em">
  {% for post in site.data.splash %}
    {% include archive-single.html type="grid" format="splash" %}
  {% endfor %}
</div>


{% if paginator.posts %}

<div style="clear:both"></div>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

<div class="grid__wrapper">
  {% for post in paginator.posts %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>


{% include paginator.html %}

{% endif %}


